.gallerySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.gallerySection img {
  width: 20rem;
  height: auto;
  aspect-ratio: 1/1;
}

.gallerySection img:hover {
  opacity: 0.5;
}

.setToBackground {
  position: relative;
  opacity: 0.5;
  z-index: -1;
}

.fullImageZoom {
  background-color: rgba(128, 128, 128, 0.407);
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.fullImageItem span {
  --spanSize: 1rem;
  position: absolute;
  cursor: pointer;
  background-color: white;
  padding: var(--spanSize);
  border-radius: 200rem;
  height: var(--spanSize);
  width: var(--spanSize);
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  margin: 2rem 4rem;
}

.fullImageItem img {
  --imgSize: 40rem;

  width: var(--imgSize);
  height: var(--imgSize);
  aspect-ratio: 1/1;
}

@media (max-width: 768px) {
  .galleryGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .fullImageItem img {
    --imgSize: 20rem;
  }
  .fullImageItem span {
    --spanSize: 0.6rem;
    right: 0;
    margin: 1rem 2rem;
  }
}
