/* Header */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
#header a {
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  padding: 0 1rem;
}

#header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#header .galleryButton {
  color: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 0 1rem;
}

#header .galleryButton:hover {
  color: lightcoral;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.navbar img {
  max-width: 15%;
  height: auto;
}

.nav {
  margin-right: auto;
}

.socialMedia {
  margin-left: auto;
}

/* Footer */

.footer {
  gap: 2rem;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
}

.footer a {
  border: 0;
}

.footer img {
  flex: 2;
}

.footer .nav {
  flex: 1;
  margin-right: 0;
}

.footerLinks {
  flex-direction: column;
  gap: 2rem;
}

.footer .socialMedia {
  flex: 1;
  margin-left: 0;
}
