/* Header */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.navbar a {
  border-left: 0.5px solid black;
  border-right: 0.5px solid black;
  padding: 0 1rem;
}

#header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#header .galleryButton {
  color: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 0 1rem;
}

#header .galleryButton:hover {
  color: lightcoral;
}

.galleries {
  gap: 2rem;
}
/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
}

.navbar img {
  max-width: 15%;
  height: auto;
}

.nav {
  margin-right: auto;
}

.socialMedia {
  margin-left: auto;
}

/* Footer */

.footer {
  gap: 2rem;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
}

.footer .links {
  display: flex;
  flex: 1;
  gap: 2rem;
}

.footer a {
  border: 0;
}

.footer img {
  flex: 2;
}

.nav {
  flex: 1;
  margin-right: 0;
}

.footerLinks {
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  margin-left: 0;
}

/* Sidebar */
@keyframes sideBarAnimation {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.navSideBar {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  font-size: x-large;
  animation: ease-out 300ms 1 sideBarAnimation;
}
.navSideBar div:nth-child(odd) {
  flex: 2.5;
  background-color: grey;
  display: flex;
}
.navSideBar ul {
  flex-direction: column;
  gap: 0.5rem;
}
.navSideBar a {
  border: 0;
  padding: 0 1rem;
}
.navSideBar div {
  flex: 1;
}
.clickableSpan {
  margin-left: auto;
}
.sideBarGalleries {
  padding: 0.5rem 1rem;
  font-size: large;
}
.navMobileView {
  display: none;
}

@media (max-width: 768px) {
  .galleries {
    display: none;
  }
  .navMobileView {
    display: block;
  }
  .navSideBar {
    display: flex;
  }
  .navbar {
    display: none;
  }

  #header {
    flex-direction: row;
  }

  .footer {
    flex-direction: column;
  }
}
