/* About Section */
@keyframes imagesSlideUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#aboutSection {
  display: flex;
  justify-content: center;
}

#aboutSection h1 {
  margin-top: 2rem;
}

#aboutSection img {
  --size: 15rem;
  max-width: var(--size);
  max-height: var(--size);
  aspect-ratio: 1/1;
  position: relative;
}

.aboutTitle {
  margin: 0 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.aboutTitle img {
  --titlesize: 2rem;
  max-width: var(--titlesize);
  max-height: var(--titlesize);
  border-radius: 50rem;
}

.aboutTitle ul {
  flex-direction: column;
  align-self: flex-start;
}
.aboutTitle h4 {
  margin-top: 1rem;
  align-self: flex-start;
}

.showItemSlideUp {
  animation: ease-out 0s 1 imagesSlideUp;
}

.showInfo {
  animation: 1s ease-out 0s 1 fadeIn;
}

.aboutArtworkOne {
  margin-right: auto;
  margin-top: 8rem;
  left: 10rem;
  animation-duration: 1s;
}

.aboutArtworkTwo {
  margin-left: auto;
  margin-top: 14rem;
  right: 10rem;
  animation-duration: 1.2s;
}

/* Artwork Section */
#artworkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artwork {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}
@media (min-width: 1024px) {
  .artwork {
    margin: 3rem 6rem;
  }
}
#artworkSection h2 {
  font-size: 2rem;
}

.artwork img {
  --size: 25rem;
  width: var(--size);
  height: var(--size);
  aspect-ratio: 1/1;
}

.artworkContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.artworkContainer:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
}

.hiddenArtworkContainer {
  opacity: 0;
}

.showArtworkContainer {
  animation: imagesSlideUp 1s ease-out 0s 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 4rem;
}

#artworkSection button {
  justify-self: center;
  align-self: center;
}

.otherGalleries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.otherGalleries ul {
  gap: 2rem;
}

/* Commissions */

#commissionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#commissionSection form {
  width: 50%;
}

@media (max-width: 768px) {
  .aboutArtworkOne,
  .aboutArtworkTwo,
  .showItemSlideUp {
    animation: none;
    opacity: 0;
  }

  .artwork {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
  }
  .artworkContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .artworkContainer:nth-of-type(even) {
    display: flex;
    flex-direction: column;
  }
  .artwork img {
    width: clamp(200px, 100%, 500px);
    height: auto;
    aspect-ratio: 1/1;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 0;
  }
  .info h3,
  .info a {
    align-self: center;
  }
  #commissionSection form {
    width: 100%;
  }
}

/* // X-Small devices (portrait phones, less than 576px)

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */
