/* About Section */
@keyframes imagesSlideUp {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#aboutSection {
  display: flex;
  justify-content: center;
}

#aboutSection h1 {
  margin-top: 2rem;
}

#aboutSection img {
  --size: 15rem;
  max-width: var(--size);
  max-height: var(--size);
  aspect-ratio: 1/1;
  position: relative;
}

.aboutTitle {
  margin: 0 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.aboutTitle img {
  --titlesize: 2rem;
  max-width: var(--titlesize);
  max-height: var(--titlesize);
  border-radius: 50rem;
}

.aboutTitle ul {
  flex-direction: column;
  align-self: flex-start;
}
.aboutTitle h4 {
  margin-top: 1rem;
  align-self: flex-start;
}

.showItemSlideUp {
  animation: ease-out 0s 1 imagesSlideUp;
}

.showInfo {
  animation: 1s ease-out 0s 1 fadeIn;
}

.aboutArtworkOne {
  margin-right: auto;
  margin-top: 8rem;
  left: 10rem;
  animation-duration: 1s;
}

.aboutArtworkTwo {
  margin-left: auto;
  margin-top: 14rem;
  right: 10rem;
  animation-duration: 1.2s;
}

/* Artwork Section */
#artworkSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artwork {
  margin: 4rem 10rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

#artworkSection h2 {
  font-size: 2rem;
}

.artwork img {
  --size: 25rem;
  width: var(--size);
  height: var(--size);
  aspect-ratio: 1/1;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.artworkContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.artworkContainer:nth-of-type(even) {
  display: flex;
  flex-direction: row-reverse;
}

.hiddenArtworkContainer {
  opacity: 0;
}

.showArtworkTwoContainer {
  animation: slideInFromLeft 700ms ease-out 0s 1;
}
.showArtworkThreeContainer {
  animation: slideInFromRight 700ms ease-out 0s 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 4rem;
}

#artworkSection button {
  justify-self: center;
  align-self: center;
}

/* Commissions */

#commissionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
